.App {
}

.navbar {
    background: #ba52f3 0% 0% no-repeat padding-box;
    border: 3px solid #d700d7;
    height: 70px;
    width: calc(100% - 6px);
    position: relative;
    display: flex;
    box-shadow: 0px 1px 5px black;
    justify-content: flex-start;
    align-items: center;
}

.addIcon {
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    border: 3px solid #d500ff;
    color: #d500ff;
    transition: transform .3s ease;
    box-shadow: 0px 0px 4px 3px rgb(220 56 255 / 27%);
    -webkit-box-shadow: inset 0 0 5px #fb00ff;
    -moz-box-shadow: inset 0 0 5px #fb00ff;
    box-shadow: inset 0 0 5px #fb00ff;
}

.addIcon :hover {
    transform: scale(1.3, 1.3);
    transform-origin: center;
}

/* scroll */

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

/* scroll end */